.navLink {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #101010;
    margin-right: 24px;
}

.headerLogo{
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    color: #101010;
}

.siteHeader{
    width: 100%;
    position: fixed;
    z-index: 3;
}
.headerContainer {
    box-sizing: border-box;
    height: 64px;
    padding-top: 16px;
    padding-bottom: 16px;
    align-items: center;
    border-bottom: 1px solid rgb(188, 188, 188);
    display: flex;
    justify-content: space-between;
}

.mobileToggle{
    display: none;
    align-items: center;
    justify-content: center;
    border: 1px solid lightgray;
    border-radius: 2px;
    width: 32px;
    height: 32px;
    flex-shrink: 0;
}


/* Media Queries */
@media screen and (max-width: 1100px) {
    .headerContainer {
        padding-left: 32px;
        padding-right: 32px;
    }
}
@media screen and (max-width: 760px) {
    .headerContainer {
        padding-left: 14px;
        padding-right: 14px;
    }
    /* Mobile Menu */
    .mobileToggle{
        display: flex;
    }
    .headerNav {
        box-sizing: border-box;
        background-color: white;
        padding: 24px;
        position: fixed;
        width: 100%;
        top: -500px;
        left: 0px;
        display: flex;
        flex-direction: column;
        transition: 600ms;
    }
    .headerNav.open{
        top: 64px;
    }
    .headerNav .navLink{
        padding-top: 24px;
        padding-bottom: 24px;
        margin-right: 0;
    }
}
@media screen and (max-width: 480px) {
    .headerContainer {
        padding-left: 32px;
        padding-right: 32px;
    }
}
@media screen and (max-width: 360px) {
    .headerContainer {
        padding-left: 32px;
        padding-right: 32px;
    }
}